# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/settings*.php~

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.sass-cache/
/nbproject/*
*.css.map

permissions.tar
sites/default/files_old/
sites/default/test
t2.php
t3.php

.editorconfig
.git-ffw/
.idea/
.tags
.tags_sorted_by_file